<!doctype html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Booking Information</title>
</head>

<body>
    <h3>Xin chào <%= firstName %> <%= lastName %>!</h3>
    <p>Bạn nhận được email này vì bạn đã đặt lịch khám bệnh tại website BookingCare</p>
    <p>Thông tin đặt lịch khám bệnh:</p>
    <div>
        <strong>Thời gian:</strong>
        <span>
            <%= timeString %>
        </span>
    </div>
    <div>
        <strong>Người khám:</strong>
        <span>
            <%= doctorName %>
        </span>
    </div>
    <div>
        <strong>Lý do khám:</strong>
        <span>
            <%= medicalReason %>
        </span>
    </div>
    <div>
        <strong>Chi phí:</strong>
        <span>
            <%= priceMedical %>
        </span>
    </div>
    <p>Nếu các thông tin trên đúng sự thật. Vui lòng click vào đường link bên dưới để xác nhận và hoàn tất thủ tực đặt lịch hẹn.</p>
    <div><a href="<%= redirectLink %>">Xác nhận</a></div>
</body>

</html>