@import 'variables';

.blockContent {
	width: 100%;
	max-width: 1230px;
	margin: 0px auto;
	padding: 0px 15px;
}

.titleMain {
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 700;
	color: #333333;
	text-align: center;
	margin-bottom: 2rem;
}

.uploadFileLabel {
	.uploadFileImage {
		img {
			cursor: pointer;
			max-height: 100px;
		}
	}
}
