@import '../../../styles/variables';

.doctorProfileInformation {
	margin-bottom: 2rem;
	@include flex(flex-start, flex-start);

	.doctorProfileAvatar {
		margin-right: 15px;
		border-radius: 100%;
		border: 1px solid #e6e6e6;

		img {
			max-width: 120px;
			border-radius: 100%;
		}
	}

	.doctorProfileIntroduce {
		width: calc(100% - 135px);

		.doctorProfileName {
			font-weight: 600;
			font-size: 23px;
			&.isSmallTitle {
				font-size: 20px;
			}
		}

		.doctorProfileDescription {
			line-height: 1.5;
			max-width: 600px;
		}
	}
}
