@import '../../../styles/variables';

.doctorInfo {
	.doctorInfoTitle {
		margin-bottom: 0.75rem;
		@include flex(center, space-between);
		strong {
			text-transform: uppercase;
			color: #666666;
			font-weight: 600;
		}
	}
	.doctorInfoNameClinic {
		font-weight: 600;
		margin-bottom: 0.25rem;
	}
	.doctorInfoAddressClinic {
		font-size: 13px;
	}
}
