<h2 class="mb-4">Home Page</h2>
<a class="btn btn-sm btn-primary" href="/user/create" title="Tạo người dùng">Tạo người dùng</a>
<a class="btn btn-sm btn-info" href="/user/list" title="Danh sách người dùng">Danh sách người dùng</a>